{{! single blog that was clicked on }}
<div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between"">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-1 text-muted d-flex align-items-center">Posted by: {{user.username}} on {{format_date createdAt}}</h6>
        </div>
        <p class="card-text">{{content}}</p>
      </div>
    </div>


{{!-- <div>
  <p>Title {{id}}: {{title}} created on Date:{{format_date createdAt}} by Username: {{user.username}}</p>
  <p>
    Content:
    {{content}}
  </p>
</div> --}}

{{! form to submit comment }}
<form class="new-comment-form">
  <div class="">
    <label for="">Comment</label>
    <textarea class="" type="text" id="comment" name="comment" placeholder="Comment here"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="" data-id="{{id}}">Submit Comment</button>
  </div>
</form>

<div>
  <h3>comment</h3> 
  {{#each comments}}
    <div class="commentDiv" >
      Name:
      {{user.username}}
      {{id}}
      on Date Created
      {{format_date createdAt}}
      Comment content:
      {{comment}}
      {{!-- <button data-id={{id}}>delete comment</button> --}}
    </div>
  {{/each}}
</div>

<script src="/js/comment.js"></script>