{{! single blog that was clicked on }}
<div class="col-md-5">
  <p>Title: {{blog.title}} created on Date:(format_date) {{createdAt}} by Username: {{user.username}}</p>
  <p>
    Content: {{content}}
  </p>
</div>

{{! form to submit comment }}
<form class="form new-comment-form">
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-input" type="text" id="comment" name="comment" placeholder="Comment here"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" data-id="{{id}}">Submit Comment</button>
  </div>
</form>

<div>
  Comments live here
  {{#each Comment}}
  <h3>comment</h3>
  Name: {{user.name}} on Date Created: {{user.createdAt}}
  Comment content: {{comment}}
  {{/each}}
</div>

<script src="/js/comment.js"></script>