{{#each blogs as |blog|}}
  <div class="">

    <div class="">
      <p><a href="/blog/comment/{{id}}">{{title}}</a> created on {{format_date createdAt}} by {{user.username}}</p>
      <p>
        {{content}}
      </p>
    </div>

  </div>
{{/each}}

