{{#each blogs as |blog|}}
  <div class="row mb-4 project">

    <div class="col-md-5">
      <p><a href="/blog/comment/{{id}}">{{title}}</a> created on {{format_date createdAt}} by {{user.username}}</p>
      <p>
        {{content}}
      </p>
    </div>

  </div>
{{/each}}

