{{#each blogs}}
<h2>ID: {{id}} {{title}}</h2> <span>CREATED: {{createdAt}}</span>
<p>{{content}}</p>
{{/each}}

{{!-- {{#each users}}
<h2>USER ID: {{id}} USER NAME {{username}}</h2>
<p>USER PASSWORD {{password}}</p>
{{/each}} --}}